.cards {
  display: flex;
  justify-content: space-between;
  max-width: 1144px;
  margin: 23px auto 0;
  padding: 0 0 58px 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .cards{
    max-width: 734px;
    margin: 24px auto 0;
    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 360px) {
  .cards{
  max-width: 852px;
  overflow: hidden;
  margin: 24px 0 0 29px;
  }
}
