.info-list__cards_type_media {
  padding: 0 0 47px 0;
}

@media screen and (max-width: 768px) {
  .info-list__cards_type_media {
    gap: 12px;
  }
}

@media screen and (max-width: 360px) {
  .info-list__cards_type_media {
    grid-template-rows: 352px;
    grid-template-columns: repeat(6, 23.44vw);
  }
}
