.info-list__cards_type_media {
  padding: 0 0 47px 0;
}

.info-list__cards_type_media li:first-child {
  z-index: 6;
}

.info-list__cards_type_media li:nth-child(2) {
  z-index: 5;
}

.info-list__cards_type_media li:nth-child(3) {
  z-index: 4;
}

.info-list__cards_type_media li:nth-child(4) {
  z-index: 3;
}

.info-list__cards_type_media li:nth-child(5) {
  z-index: 2;
}

.info-list__cards_type_media li:nth-child(6) {
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .info-list__cards_type_media {
    gap: 12px;
    padding: 0 0 14px 0;
  }
}

@media screen and (max-width: 360px) {
  .info-list__cards_type_media {
    grid-template-rows: 352px;
    grid-template-columns: repeat(6, 23.44vw);
    padding: 0;
  }
}
