.info-list__buttons {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .info-list__buttons {
    margin-right: 32px;
  }
}
