.article .audioplayer {
  margin: 0;
  max-width: 678px;
  height: 112px;
  background-color: #BFE9D5;
  border-radius: 35px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .article .audioplayer {
    height: 70px;
    grid-template-columns: repeat(5, 1fr);
  }
}
