.news-page__title {
  font-size: 46px;
  line-height: 1.3;
  font-weight: 400;
  margin: 0;
  padding-top: 42px;
}

@media screen and (max-width: 768px) {
  .news-page__title {
    font-size: 3.907vw;
  }
}
