.subheader {
  position: absolute;
  top: 62px;
  right: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .subheader {
    column-gap: 7px;
    right: -10px;
  }
}
