.page {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    color: #323232;
    font-family: 'PT-Sans', 'Inter', 'Helvetica Neue', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
