.bg-info {
  background-color: #323232;
  max-width: 477px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 768px) {
  .bg-info {
    width: 32.94vw;
    height: 49.48vw;
  }
}

@media screen and (max-width: 560px) {
  .bg-info {
    width: max-content;
    height: 60px;
    background-color: #fff;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 360px) {
  .bg-info {
    height: 60px;
  }
}
