.structure__button {
  font-family: "WF", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.structure__button:hover {
  border-bottom: 1px solid #323232;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .structure__button {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .structure__button {
    font-size: 15px;
  }
}

@media screen and (max-width: 560px) {

}
