.popup-menu__link {
  font-family: "PT Sans", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.popup-menu__link:hover {
  border-bottom: 1px solid #323232;
}
