.menu__cards {
  margin: 0 auto;
  padding-bottom: 163px;
  max-width: 1144px;
  min-height: 562px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 562px));
  column-gap: 20px;
  row-gap: 15px;
}
