.sidebanner__title {
  margin: 13px 75px 9px 12px;
  padding: 0;
  max-width: 242px;
  min-height: 26px;
  font-family: "WF", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
}
