.header__menu {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header__menu {
    margin-right: 16px
  }
}

@media screen and (max-width: 640px) {
  .header__menu {
  display: none;
  }
}
