.banner__close-button {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/close_cross.svg);
  background-color: rgba(0, 0, 0, 0);
  width: 24px;
  height: 24px;
  background-size: contain;
  border: 0;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.banner__close-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
