.banner__content {
  margin: 0;
  padding: 0;
  max-width: 237px;
  max-height: 132px;
  background-color: #a5cdab;
}

.banner__content:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .banner__content {
    max-width: 191px;
  }
}

@media screen and (max-width: 560px) {
  .banner__content {
    max-width: 157px;
  }
}
