.news-page__button_type_left {
  background-image: url('../../../../images/Left_arrow_pagination_inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
