.news-card__date {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 8px 0;
  max-width: 89px;
}

@media screen and (max-width: 768px) {
  .news-card__date {
    font-size: 1.56vw;
    line-height: 2.08vw;
    max-width: 66px;
    margin: 0 0 4px 0;
  }
}

@media screen and (max-width: 360px) {
  .news-card__date {
    font-size: 12px;
    line-height: 16px;
  }
}
