.magazine-page__sort-link {
  margin: 0;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #323232;
  transition: 0.1s ease-out;
  text-decoration: none;
  padding-bottom: 14px;
  padding-top: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  min-width: 45px;
  text-align: center;
}

.magazine-page__sort-link:hover {
  border-bottom: 1px solid #323232;
}

.magazine-page__sort-link:last-of-type {
  margin-left: 46px;
}

@media screen and (min-width: 390px) and (max-width: 768px) {
  .magazine-page__sort-link {
    font-size: 1.563vw;
    padding-top: 2.25%;
    padding-bottom: 2.89%;
  }
}

@media screen and (max-width: 389px) {
  .magazine-page__sort-link {
    font-size: 8px;
    padding-top: 22px;
  }

  .magazine-page__sort-link:last-of-type {
    margin-left: 0px;
  }
}
