.card__content {
  background-color: #e7e4de;
  padding-bottom: 9px;
  position: relative;
  bottom: 18px;
  height: 419px;
}

@media screen and (max-width: 768px) {
  .card__content {
    max-height: 360px;
    padding: 0;
  }
}
