.card__content {
  background-color: #e7e4de;
  position: relative;
  bottom: 18px;
  min-height: 428px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
}

@media screen and (max-width: 768px) {
  .card__content {
    min-height: 360px;
    padding: 0;
  }
}
