.header {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .header {
    border-bottom: 0;
  }
}

@media screen and (max-width: 360px) {
  .header {
    margin: 13px auto 0;
  }
}
