.article .audioplayer__time {
  font-family: 'PT Sans';
  background-color: #BFE9D5;
}

@media screen and (max-width: 768px) {
  .audioplayer__time {
    width: 35px;
    height: 13px;
  }
  }

  @media screen and (max-width: 560px) {

  }
