.article .audioplayer__time {
  font-family: "PT Sans", "Inter";
  background-color: #bfe9d5;
}

@media screen and (max-width: 768px) {
  .audioplayer__time {
    width: 35px;
    height: 13px;
  }
}
