.search__title {
  grid-area: heading;
  font-size: 36px;
  font-family: 'WF', "Inter";
  font-weight: 400;
  line-height: 1;
  font-family: "WF", "Inter";
  margin: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .search__title {
    font-size: 3.565vw;
  }
}

@media screen and (max-width: 768px) {
  .search__title {
    font-size: 3.125vw;
    line-height: 1.24;
  }
}

@media screen and (max-width: 560px) {
  .search__title {
    font-size: 7.225vw;
    line-height: 1.0;
    text-align: center;
  }
}

