.bg-info__button {
  color: #fff;
  height: 50px;
  background-color: inherit;
  border: none;
  border-radius: 8px;
  padding-right: 64px;
  cursor: pointer;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0 32px 40px 0;
  bottom: 0;
  right: 0;
  line-height: 26px;
  position: absolute;
}

.bg-info__button::after {
  content: "";
  background-image: url(../../../images/right_defautl_green.svg);
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  align-self: center;
  margin-left: 14px;
}

@media screen and (max-width: 768px) {
  .bg-info__button {
    font-size: 14px;
    line-height: 18px;
    border: none;
    max-width: max-content;
    margin: 0 20px 41px 0;
  }

  .bg-info__button::after {
    background-image: url(../../../images/right_defautl_green.svg);
    width: 32px;
    height: 32px;
    margin-left: 20px;
    top: 9px;
  }
}

@media screen and (max-width: 560px) {
  .bg-info__button {
    position: relative;
    color: #323232;
    margin: 0;
    left: 10px;
  }

  .bg-info__button::after {
    background-image: url(../../../images/arrow-right.svg);
    width: 21px;
    height: 12px;
  }
}

@media screen and (max-width: 450px) {
  .bg-info__button {
    padding-right: 35px;
  }
}

@media screen and (max-width: 360px) {
  .bg-info__button {
    font-size: 14px;
    line-height: 18px;
    height: max-content;
    left: 0;
  }

  .bg-info__button::after {
    width: 21px;
    height: 12px;
    margin-left: 18px;
    top: 4px;
  }
}
