.bg-info__button {
  width: 329px;
  color: #fff;
  height: 50px;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin: 0 0 32px 32px;
  cursor: pointer;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  position: relative;
}

.bg-info__button::after {
  content: '';
  background-image: url(../../../images/arrow_right_white.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 18px;
  align-self: center;
  margin-left: 16px;
}
