.magazine-card {
  width: 22.78vw;
  height: 36.53vw;
  background: #c4c4c4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity .4s ease;
}

.magazine-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .magazine-card {
    width: 180px;
    height: 280px;
  }
}

@media screen and (max-width: 360px) {
  .magazine-card{
    height: 352px;
    width: 252px;
    border-radius: 8px;
  }

  .magazine-card:first-child {
    z-index: 2;
  }

  .magazine-card:nth-child(2) {
    z-index: 1;
  }

}
