.magazine-card {
  width: 328px;
  height: 526px;
  background: #c4c4c4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.magazine-card::after {
  background-color: #c4c4c4;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.magazine-card:hover {
  opacity: 0.8;
  cursor: pointer;
}
