.card__label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: #A5CDAB;
  border-radius: 8px;
  max-width: 187px;
  height: 34px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
