.card__label {
  font-family: "PT Sans", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: #a5cdab;
  border-radius: 8px;
  max-width: 187px;
  height: 34px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .card__label {
    max-width: 134px;
    font-size: 12px;
    line-height: 16px;
    color: #323232;
    max-height: 24px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 360px) {
  .card__label {
    max-width: 108px;
    height: 24px;
  }
}
