.newmaterials__arrow-left {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #323232;
  opacity: 0.5;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/arrow-left.svg);
  margin: 0 12px 0 0;
  align-self: center;
}
