.experience-card__description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .experience-card__description {
    font-size: 12px;
    line-height: 16px;
  }
}
