.card__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: rgba(50, 50, 50, 0.5);
  margin: 12px auto 28px;
  max-width: 296px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .card__text {
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    max-width: 211px;
    max-height: 72px;
  }
}

@media screen and (max-width: 360px) {
  .card__text {
    font-size: 12px;
    line-height: 16px;
  }
}
