.experience-card__photo {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  margin: 20px auto;
  background-image: url(../../../images/woman.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .experience-card__photo {
    width: 86px;
    height: 86px;
    margin: 4px auto;
  }
}

@media screen and (max-width: 360px) {
  .experience-card__photo {
    width: 160px;
    height: 160px;
    margin: 12px auto;
  }
}
