.experience-card__photo {
  width: 14.17vw;
  height: 14.17vw;
  border-radius: 50%;
  margin: 1.39vw auto;
  background-image: url(../../../images/woman.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .experience-card__photo {
    width: 10.94vw;
    height: 10.94vw;
    margin: 0.52vw auto;
  }
}
