.media__magazine {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .media__magazine {
    height: 380px;
    width: 32.94vw;
  }
}

@media screen and (max-width: 560px) {
  .media__magazine {
    width: 100%;
    height: 60px;
  }
}
