.popup-structure__close-button {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/close_cross.svg);
  background-color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 22px;
  background-size: contain;
  border: 0;
  position: absolute;
  top: 37px;
  right: 37px;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.popup-structure__close-button:hover {
  opacity: 0.7;
}
