.experience-card__about {
  font-family: "PT Sans", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .experience-card__about {
    font-size: 12px;
    line-height: 16px;
  }
}
