.experience-card__title {
  font-family: "WF";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .experience-card__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 12px;
  }
}
