.search__container {
  display: grid;
  grid-template-areas:
  "photo heading"
  "photo paragraph"
  "photo buttons";
  margin: 56px auto 64px;
  column-gap: 137px;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .search__container {
    column-gap: 10vw;
    margin: 3%;
  }
}

@media screen and (max-width: 768px) {
  .search__container {
    column-gap: 9.765vw;
    margin: 20px auto;
  }
}

@media screen and (max-width: 690px) {
  .search__container {
    column-gap: 3.765vw;
    margin: 2%;
  }
}


@media screen and (max-width: 560px) {
  .search__container {
    grid-template-columns: 1fr;
    gap: 16px;
    max-width: calc(100% - 12px * 2);
    margin: 20px auto;
    justify-items: center;
    grid-template-areas:
    "heading"
    "photo"
    "paragraph"
    "submit-btn"
    "material-btn";
  }
}
