.popup-structure__part {
  margin: 0;
  padding: 0;
  max-width: 926px;
  min-height: 118px;
  font-family: "WF", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #323232;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  transition: 0.1s ease-out;
  cursor: pointer;
}

.popup-structure__part:hover {
  border-bottom: 1px solid #323232;
}
