.special-project__text-content {
    display: flex;
    flex-direction: column;
    max-width: 402px;
    
}

@media (max-width: 940px) {
    .special-project__text-content {
        max-width: 337px;
        margin: 0 auto;
    }
  }