.sidebanner__close-button {
  margin: 0;
  padding: 0;
  width: 17px;
  height: 17px;
  background-image: url(../../../images/close_cross.svg);
  background-color: rgba(0, 0, 0, 0);;
  background-size: contain;
  border: none;
  position: absolute;
  top: 18px;
  right: 16px;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.sidebanner__close-button:hover {
  opacity: .7;
}
