.footer__privacy-menu-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

@media screen and (max-width: 768px) {
  .footer__privacy-menu-links {
    row-gap: 8px;
  }
}

@media screen and (max-width: 400px) {
  .footer__privacy-menu-links {
    row-gap: 6px;
  }
}
