.footer__social-media-icon {
  margin: -3px 0 -3px;
  padding: 0;
  width: 18px;
  height: 18px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer__social-media-icon {
    width: 28px;
    height: 28px;
  }
}
