.audioplayer__mute:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .audioplayer__mute {
    width: 18px;
    height: 20px;
  }
  }

  @media screen and (max-width: 560px) {

  }
