.news-card {
  max-width: 328px;
  display: grid;
  grid-template-columns: 89px 212px;
  gap: 20px 28px;
  opacity: 1;
  transition: opacity .4s ease;
}

.news-card:hover {
  cursor: pointer;
  opacity: .8;
}
