.news-card {
  max-width: 328px;
  display: grid;
  grid-template-columns: 89px 212px;
  gap: 20px 28px;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.news-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 360px) {
  .news-card {
    grid-template-columns: 336px;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 8px;
    max-width: none;
  }
}
