.footer__logo-container {
  min-height: 28.72px;
  display: flex;
  flex-basis: 490px;
  column-gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer__logo-container {
    flex-basis: 250px;
  }
}

@media screen and (max-width: 400px) {
  .footer__logo-container {
    order: 2;
    margin: 0 auto;
    padding-bottom: 22px;
  }
}
