.info-list__header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .info-list__header {
    width: 70vw;
  }
}

@media screen and (max-width: 560px) {
  .info-list__header {
    width: 98vw;
  }
}

@media screen and (max-width: 360px) {
  .info-list__header {
    display: none;
  }
}
