.media__title {
  max-width: 477px;
  line-height: 55px;
  padding-right: 0;
}

@media screen and (max-width: 1300px) {
  .media__title {
    padding-right: 81px;
  }
}

@media screen and (max-width: 768px) {
  .media__title {
    font-size: 30px;
    line-height: 37px;
    padding-right: 88px;
  }
}
