.news-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .news-card__image {
    max-width: 102px;
    height: 120px;
  }
}

@media screen and (max-width: 360px) {
  .news-card__image {
    width: 336px;
    height: 160px;
    max-width: none;
  }
}
