.news-card__image {
  width: 212px;
  height: 223px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .news-card__image {
    width: 14.72vw;
    height: 100%;
    object-fit: cover;
  }
}


@media screen and (max-width: 768px) {
  .news-card__image {
    max-width: 13.28vw;
    height: 15.63vw;
  }
}

@media screen and (max-width: 360px) {
  .news-card__image {
    width: 336px;
    height: 160px;
    max-width: none;
  }
}
