.news-card__image {
  width: 212px;
  height: 223px;
  object-fit: cover;
}

@media screen and (max-width: 360px) {
  .news-card__image {
    width: 336px;
    height: 160px;
    max-width: none;
  }
}
