.info-list__title {
  font-family: 'WF', "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
  color: #323232;
  margin: 16px 0 24px 0;
}

@media screen and (max-width: 1300px) {
  .info-list__title {
    font-size: 3.19vw;
    line-height: 120%;
  }
}

@media screen and (max-width: 768px) {
  .info-list__title {
    font-size: 3.91vw;
    line-height: 4.82vw;
    margin: 2.08vw 0 2.08vw 0;
  }
}
