@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/link/link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_main/header_main.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__logo-container/header__logo-container.css);
@import url(../blocks/header/__menu-links/header__menu-links.css);
@import url(../blocks/header/__menu-link/header__menu-link.css);
@import url(../blocks/header/__menu-link/_active/header__menu-link_active.css);
@import url(../blocks/header/__menu-link/_main/header__menu-link_main.css);
@import url(../blocks/header/_subheader-opened/header_subheader-opened.css);
@import url(../blocks/subheader/subheader.css);
@import url(../blocks/background/background.css);
@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/__content/banner__content.css);
@import url(../blocks/banner/__title/banner__title.css);
@import url(../blocks/banner/__text/banner__text.css);
@import url(../blocks/banner/__close-button/banner__close-button.css);
@import url(../blocks/banner/_closed/banner_closed.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__cards/menu__cards.css);
@import url(../blocks/menu/__card/menu__card.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__text/menu__text.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/menu/__button-name/menu__button-name.css);
@import url(../blocks/menu/__button/menu__button.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__content/card__content.css);
@import url(../blocks/card/__label/card__label.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/diary/__title/diary__title.css);
@import url(../blocks/diary/diary.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__menu-links.css/footer__menu-links.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__social-menu/footer__social-menu.css);
@import url(../blocks/footer/__privacy-menu-link/footer__privacy-menu-link.css);
@import url(../blocks/footer/__privacy-menu-links/footer__privacy-menu-links.css);
@import url(../blocks/footer/__privacy-menu/footer__privacy-menu.css);
@import url(../blocks/footer/__social-media-icon/footer__social-media-icon.css);
@import url(../blocks/footer/__social-media-link/footer__social-media-link.css);
@import url(../blocks/footer/__social-media-links/footer__social-media-links.css);
@import url(../blocks/footer/__social-media/footer__social-media.css);
@import url(../blocks/news/news.css);
@import url(../blocks/bg-info/bg-info.css);
@import url(../blocks/bg-info/__button/bg-info__button.css);
@import url(../blocks/bg-info/__title/bg-info__title.css);
@import url(../blocks/info-list/info-list.css);
@import url(../blocks/info-list/__buttons/info-list__buttons.css);
@import url(../blocks/info-list/__button/info-list__button.css);
@import url(../blocks/info-list/__button-left/info-list__button-left.css);
@import url(../blocks/info-list/__button-right/info-list__button-right.css);
@import url(../blocks/info-list/__button-left/_active/info-list__button-left_active.css);
@import url(../blocks/info-list/__button-right/_disabled/info-list__button-right_disabled.css);
@import url(../blocks/info-list/__cards/info-list__cards.css);
@import url(../blocks/info-list/__header/info-list__header.css);
@import url(../blocks/info-list/__title/info-list__title.css);
@import url(../blocks/news-card/news-card.css);
@import url(../blocks/news-card/__date/news-card__date.css);
@import url(../blocks/news-card/__image/news-card__image.css);
@import url(../blocks/news-card/__label/news-card__label.css);
@import url(../blocks/news-card/__text/news-card__text.css);
@import url(../blocks/news-card/__title/news-card__title.css);
@import url(../blocks/diary/__title/diary__title.css);
@import url(../blocks/diary/diary.css);
@import url(../blocks/search/search.css);
@import url(../blocks/search/__photo/search__photo.css);
@import url(../blocks/search/__main-text/search__main-text.css);
@import url(../blocks/search/__paragraph/search__paragraph.css);
@import url(../blocks/search/__title/search__title.css);
@import url(../blocks/search/__container/search__container.css);
@import url(../blocks/search/__button-container/search__button-container.css);
@import url(../blocks/search/__button/search__button.css);
@import url(../blocks/search/__button/_type/search__button_type_submit.css);
@import url(../blocks/search/__button/_type/search__button_type_to-material.css);
@import url(../blocks/search/__link-button/search__link-button.css);
@import url(../blocks/search/__button-arrow/search__button-arrow.css);
@import url(../blocks/media/__magazine/media__magazine.css);
@import url(../blocks/media/__title/media__title.css);
@import url(../blocks/magazine-card/magazine-card.css);
@import url(../blocks/magazine-card/_stalin/magazine-card_stalin.css);
@import url(../blocks/magazine-card/_blokada/magazine-card_blokada.css);
@import url(../blocks/magazine-card/__tag/magazine-card__tag.css);
@import url(../blocks/magazine-card/__about/magazine-card__about.css);
@import url(../blocks/magazine-card/__title/magazine-card__title.css);
@import url(../blocks/magazine-card/__subtitle/magazine-card__subtitle.css);
@import url(../blocks/magazine-card/__text/magazine-card__text.css);
@import url(../blocks/experience-card/experience-card.css);
@import url(../blocks/experience-card/__user/experience-card__user.css);
@import url(../blocks/experience-card/__title/experience-card__title.css);
@import url(../blocks/experience-card/__photo/experience-card__photo.css);
@import url(../blocks/experience-card/__about/experience-card__about.css);
@import url(../blocks/experience-card/__description/experience-card__description.css);
@import url(../blocks/special-project/special-project.css);
@import url(../blocks/special-project/__button/special-project__button.css);
@import url(../blocks/special-project/__card-date/special-project__card-date.css);
@import url(../blocks/special-project/__card-text/special-project__card-text.css);
@import url(../blocks/special-project/__card-title/special-project__card-title.css);
@import url(../blocks/special-project/__card/special-project__card.css);
@import url(../blocks/special-project/__container/special-project__container.css);
@import url(../blocks/special-project/__image/special-project__image.css);
@import url(../blocks/special-project/__text-content/special-project__text-content.css);
@import url(../blocks/special-project/__title/special-project__title.css);
@import url(../blocks/special-project/__button-icon/special-project__button-icon.css);
@import url(../blocks/search/__banner/search__banner.css);
