@import url(../vendor/normalize.css);

@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/link/link.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-container/header__logo-container.css);
@import url(../blocks/header/__menu-links/header__menu-links.css);
@import url(../blocks/header/__menu-link/header__menu-link.css);
@import url(../blocks/header/_subheader-opened/header_subheader-opened.css);

@import url(../blocks/subheader/subheader.css);

@import url(../blocks/background/background.css);

@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/__title/banner__title.css);
@import url(../blocks/banner/__text/banner__text.css);
@import url(../blocks/banner/__close-button/banner__close-button.css);
@import url(../blocks/banner/_closed/banner_closed.css);

@import url(../blocks/about/about.css);
@import url(../blocks/about/__text/about__text.css);

@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__card/menu__card.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__text/menu__text.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/menu/__button-name/menu__button-name.css);
@import url(../blocks/menu/__button/menu__button.css);

@import url(../blocks/cards/cards.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__label/card__label.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__text/card__text.css);

@import url(../blocks/diary/__title/diary__title.css);
@import url(../blocks/diary/diary.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__menu-links.css/footer__menu-links.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__social-menu/footer__social-menu.css);
@import url(../blocks/footer/__privacy-menu-link/footer__privacy-menu-link.css);
@import url(../blocks/footer/__privacy-menu-links/footer__privacy-menu-links.css);
@import url(../blocks/footer/__privacy-menu/footer__privacy-menu.css);
@import url(../blocks/footer/__social-media-icon/footer__social-media-icon.css);
@import url(../blocks/footer/__social-media-link/footer__social-media-link.css);
@import url(../blocks/footer/__social-media-links/footer__social-media-links.css);
@import url(../blocks/footer/__social-media/footer__social-media.css);

@import url(../blocks/news/news.css);

@import url(../blocks/bg-info/bg-info.css);
@import url(../blocks/bg-info/__button/bg-info__button.css);
@import url(../blocks/bg-info/__title/bg-info__title.css);

@import url(../blocks/info-list/info-list.css);
@import url(../blocks/info-list/__buttons/info-list__buttons.css);
@import url(../blocks/info-list/__button/info-list__button.css);
@import url(../blocks/info-list/__button/_type/info-list__button_type_left.css);
@import url(../blocks/info-list/__button/_type/info-list__button_type_right.css);
@import url(../blocks/info-list/__cards/info-list__cards.css);
@import url(../blocks/info-list/__header/info-list__header.css);
@import url(../blocks/info-list/__scrollbar-track/info-list__scrollbar-track.css);
@import url(../blocks/info-list/__scrollbar/info-list__scrollbar.css);
@import url(../blocks/info-list/__title/info-list__title.css);
@import url(../blocks/info-list/);

@import url(../blocks/news-card/news-card.css);
@import url(../blocks/news-card/__date/news-card__date.css);
@import url(../blocks/news-card/__image/news-card__image.css);
@import url(../blocks/news-card/__label/news-card__label.css);
@import url(../blocks/news-card/__text/news-card__text.css);
@import url(../blocks/news-card/__title/news-card__title.css);

@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
