@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/link/link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo-container/header__logo-container.css);
@import url(../blocks/header/__menu-links/header__menu-links.css);
@import url(../blocks/header/__menu-link/header__menu-link.css);
@import url(../blocks/header/__menu-link/_main/header__menu-link_main.css);
@import url(../blocks/header/_subheader-opened/header_subheader-opened.css);
@import url(../blocks/subheader/subheader.css);
@import url(../blocks/background/background.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__card/menu__card.css);
@import url(../blocks/menu/__title/menu__title.css);
@import url(../blocks/menu/__text/menu__text.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/menu/__button-name/menu__button-name.css);
@import url(../blocks/menu/__button/menu__button.css);
@import url(../blocks/route/route.css);
@import url(../blocks/route/__container/route__container.css);
@import url(../blocks/route/__name/route__name.css);
@import url(../blocks/route/_active-link/route_active-link.css);
@import url(../blocks/magazine-card/magazine-card.css);
@import url(../blocks/magazine-card/_stalin/magazine-card_stalin.css);
@import url(../blocks/magazine-card/_blokada/magazine-card_blokada.css);
@import url(../blocks/magazine-card/__tag/magazine-card__tag.css);
@import url(../blocks/magazine-card/__about/magazine-card__about.css);
@import url(../blocks/magazine-card/__title/magazine-card__title.css);
@import url(../blocks/magazine-card/__subtitle/magazine-card__subtitle.css);
@import url(../blocks/magazine-card/__text/magazine-card__text.css);
@import url(../blocks/experience-card/experience-card.css);
@import url(../blocks/experience-card/__user/experience-card__user.css);
@import url(../blocks/experience-card/__title/experience-card__title.css);
@import url(../blocks/experience-card/__photo/experience-card__photo.css);
@import url(../blocks/experience-card/__about/experience-card__about.css);
@import url(../blocks/experience-card/__description/experience-card__description.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__menu-links.css/footer__menu-links.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__social-menu/footer__social-menu.css);
@import url(../blocks/footer/__privacy-menu-link/footer__privacy-menu-link.css);
@import url(../blocks/footer/__privacy-menu-links/footer__privacy-menu-links.css);
@import url(../blocks/footer/__privacy-menu/footer__privacy-menu.css);
@import url(../blocks/footer/__social-media-icon/footer__social-media-icon.css);
@import url(../blocks/footer/__social-media-link/footer__social-media-link.css);
@import url(../blocks/footer/__social-media-links/footer__social-media-links.css);
@import url(../blocks/footer/__social-media/footer__social-media.css);
@import url(../blocks/news-page/news-page.css);
@import url(../blocks/news-page/__cards/news-page__cards.css);
@import url(../blocks/news-page/__path/news-page__path.css);
@import url(../blocks/news-page/__title/news-page__title.css);
@import url(../blocks/magazine-page/__title/magazine-page__title.css);
@import url(../blocks/magazine-page/__sort-container/magazine-page__sort-container.css);
@import url(../blocks/magazine-page/__sort-links/magazine-page__sort-links.css);
@import url(../blocks/news-page/__cards/_magazine/news-page__cards_magazine.css);
@import url(../blocks/magazine-page/__sort-links/_active/magazine-page__links_active.css);
@import url(../blocks/magazine-page/__sort-link/magazine-page__sort-link.css);
@import url(../blocks/magazine-page/__sort-link/_active/magazine-page__sortlink_active.css);
@import url(../blocks/news-page/__cards/_magazine/news-page__cards_magazine.css);
@import url(../blocks/news-page/__pagination/news-page__pagination.css);
@import url(../blocks/news-page/__button/news-page__button.css);
@import url(../blocks/news-page/__button/_type/news-page__button_type_left.css);
@import url(../blocks/news-page/__button/_type/news-page__button_type_right.css);
@import url(../blocks/news-page/__links/news-page__links.css);
@import url(../blocks/news-page/__link/news-page__link.css);
@import url(../blocks/news-page/__number/news-page__number.css);
@import url(../blocks/news-page/__number/_active/news-page__number_active.css);
@import url(../blocks/link/link.css);
@import url(../blocks/route/route.css);
@import url(../blocks/route/_active-link/route_active-link.css);
@import url(../blocks/route/__name/route__name.css);
@import url(../blocks/magazine-page/__way-box/magazine-page__way-box.css);