.footer__privacy-menu-link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.footer__privacy-menu-link:hover {
  border-bottom: 1px solid #323232;
}