.about {
  padding: 70px 245px 114px 32px;
  margin: 0;
  background-color: #f7f4f0;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 40px 76px 28px 16px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 31px 12px 93px;
  }
}
