.news-page__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.news-page__link:hover {
  border-bottom: 1px solid #323232;
}

.news-page__link:last-of-type {
  margin-right: 0;
}
