.news-card__text {
  grid-column: 1/-1;
  min-height: 130px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  color: rgba(50, 50, 50, 0.6);
}
