.footer {
  max-width: 1440px;
  width: calc(100% - 33px * 2);
  margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 17px * 2);
  }
}

@media screen and (max-width: 400px) {
  .footer {
    width: calc(100% - 12px * 2);
  }
}
