.news-page__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  max-width: 1144px;
  margin: 60px auto 40px;
  gap: 62px 80px;
  list-style: none;
  padding: 0;
}
