.info-list__scrollbar {
  margin: 68px 0 20px 0;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #E7E4DE;
}

@media screen and (max-width: 768px) {
  .info-list__scrollbar {
    margin: 50px 0 0 0;
    max-width: 487px;
  }
}
