.sidebanner__text {
  margin: 0 auto 16px;
  padding: 0;
  max-width: 305px;
  min-height: 28, 5px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 560px) {
  .sidebanner__text {
    max-width: 240px;
  }
}

