.popup-menu__button-close {
  margin: 0 16px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-image: url(../../../images/close_cross.svg);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  background-size: contain;
  transition: 0.1s ease-out;
  cursor: pointer;
}
