.search__button_type_to-material {
  border: 1px solid #a5cdab;
  margin-right: 20px;
}

.search__button_type_to-material:hover {
  border: 1px solid #97ba9c;
}

.search__button_type_to-material:active {
  border: 1px solid #7a9f80;
}
