.news-page__cards_magazine {
  margin: 35px auto 38px;
}

@media screen and (min-width:769px) and (max-width: 1120px) {
  .news-page__cards_magazine {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }
}

@media screen and (max-width:768px) {
  .news-page__cards_magazine {
    margin: 18px auto 38px;
  }
}
