.card {
  width: 328px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.card:hover {
  opacity: 0.8;
}


@media screen and (max-width: 768px) {
  .card {
    max-width: 238px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 550px) {
  .card {
    min-width: 300px;
    margin: 0 12px 0 30px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    min-width: 276px;
    margin: 0 12px;
  }
}
