.footer__social-menu {
  margin: 32px auto 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer__social-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
  }
}

@media screen and (max-width: 400px) {
  .footer__social-menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    margin: 26px auto 0;
  }
}
