.newmaterials__arrow-right {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/arrow-right.svg);
  align-self: center;
}
