.menu {
  margin: 0;
  padding: 0 148px 164px;
  max-width: 1144px;
  min-height: 562px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 562px));
  gap: 20px;
  background-color: #F7F4F0;
}
